[submodule "themes/hago"]
	path = themes/hago
	url = https://github.com/gyuha/hago.git
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/gyuha/gyuha.github.io.git
	branch = master
