<article class="post">
  <div class="post-title">
    <a href="{{ .Permalink }}" title="{{ .Title }}">
      <img src="{{ "/images/post-title-icon.png" | relURL }}" />
      <div class="post-meta">
        <time>{{ i18n "post_date_time" .Date }}</time>
        <h2>{{ .Title }}</h2>
      </div>
    </a>
  </div>
  {{ if .Params.cover }}
  <div class="cover-image">
    <a href="{{ .Permalink }}" title="{{ .Title }}">
      <img src="{{ .Params.cover }}" />
    </a>
  </div>
  {{ end }}
  <div class="post-summary">
    {{ .Summary | plainify | safeHTML }} {{ if .Truncated }}
    <a href="{{ .RelPermalink }}" class="summary-more">{{ i18n "post_read_more" }}</a>
    {{ end }}
  </div>
  <div class="post-summary-footer"></div>
</article>
